{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>
<div class="nav">
   <a href="{% url 'base' %}"><h1 class="logo">BEOPEN</h1></a>
    {% block mainmenu %}
    <div class="profile-chapter">
        <div class="profile-header">
            <h2>Profile</h2>
            <a href="{% url 'edit_profile' %}"><button class="btn-edit">Edit</button></a>
        </div>
        <div class="profile-dates">
            {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar.url }}" alt="Avatar" class="avatar">
            {% else %}
                <img src="{% static 'путь_к_изображению_по_умолчанию.png' %}" alt="Default Avatar" class="avatar">
            {% endif %}
            <h3>{{ user_profile.first_name }} {{ user_profile.last_name }}</h3>
            <p>{{ user_profile.user.username }}</p>
        </div>
        <div class="REP">
            <table>
                <tr>
                    <td><p>Role</p></td>
                    <td><h2>{{ user_profile.user.role }}</h2></td>
                </tr>
                <tr>
    <td><p>Email address</p></td>
    <td><h2>{{ user_profile.profile_email }}</h2></td>
</tr>
               <tr>
    <td><p>Phone number</p></td>
    <td><h2>{{ user_profile.phone_number }}</h2></td>
</tr>
            </table>
            <div class="table-wrapper">
                <table>
                    <tr>
                        <td><p>Balance</p></td>
                        <td><h2>{{ user_profile.balance }}</h2></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Search anything...">
        <button class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </div>
    <div class="notification-icon">
        <i class='fas fa-bell'></i>
    </div>
    <div class="language">
        <h2>EN</h2>
    </div>
    <div class="profile-page">
          {% if user_profile.avatar %}
                <img src="{{ user_profile.avatar.url }}" alt="Avatar" class="avatar" style="width: 55px;height: 55px">
            {% else %}
                <img src="{% static 'путь_к_изображению_по_умолчанию.png' %}" alt="Default Avatar" class="avatar" style="width: 55px;height: 55px">
            {% endif %}
    </div>
    {% endblock mainmenu %}
</div>

<div class="left-chapter-1">
    <p>Site</p>
    <a href="{% url 'home' %}"> <h2>Home</h2></a>
    <a href="{% url 'contact' %}"> <h2>Contact</h2></a>
    <a href="{% url 'about' %}"> <h2>About</h2></a>
</div>
<div class="left-chapter-2">
    <p id="work">Work</p>
    <a href="#"> <h2>News</h2></a>
    <a href="#"> <h2>Posts</h2></a>
    <a href="{% url 'friends' %}"> <h2>Friends</h2></a>
    <a href="#"> <h2>Video</h2></a>
</div>
<div class="left-chapter-3">
    <p>Feedback</p>
    <a href="#"> <h2>Settings</h2></a>
    <a href="#"> <h2>Help</h2></a>
    <a href="#"> <h2>Subscribe</h2></a>
</div>
<div class="left-chapter-4">
    <a href="{% url 'logout' %}">Logout</a>
</div>

	<div class="content-chapter">
{% block content %}
{% endblock %}


    </div>


</body>
</html>
