{% extends 'base.html' %}
{% block content %}
{% block styles %}
{% load static %}
  <link rel="stylesheet" href="{% static 'home.css' %}">
<div class="content-chapter">
    <div class="massage-table">
        <div class="massage-profile">
            <img class="profile-photo" src="{{ recipient.avatar.url }}">
            <h2 class="profile-name">{{ recipient.username }}</h2>
            <h3 class="status">
    {% if recipient.userprofile.is_online %}
        Онлайн
    {% else %}
        Офлайн
    {% endif %}
</h3>
            <div class="call">
                <i class='fas fa-phone'></i>
            </div>
            <hr class="profile-hr">
        </div>
        <div class="message-p">
            {% for message in messages %}
                <div class="message-item">
                    <p>{{ message.text }}</p>
                    {% if message.media %}
                        <img src="{{ message.media.url }}" alt="Media">
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="message-input">
            <button class="add">+</button>
            <input type="text" id="message-text" placeholder="Type your message...">
            <button class="voice"><i class='fas fa-microphone'></i></button>
            <button class="send"><i class='fas fa-arrow-right'></i></button>
        </div>
    </div>
</div>
{% endblock styles %}
{% endblock %}
